
    <footer class="header-footer-background container-fluid">
      <h2>Connect with us</h2>
      <p class="text-center">If you'd like to contact us, please <a href="#">email us</a>.</p>
      <section class="d-flex col justify-content-center">
                <a href="https://twitter.com/reginaromrob" target="_blank" class="fab fa-twitter-square"></a>
                <a href="#"class="fab fa-instagram-square"></a>
                <a href="https://www.linkedin.com/in/reginaromae/" target="_blank" class="fab fa-linkedin"></a>
      </section>
              <section class=" d-flex justify-content-center">
              <p class="copyright" >&copy; A Giving Hand 2021. </p>
            </section>
    </footer>
   
     
</body>
</html>