<%- include('partials/header') -%>
<main class="bodyy">

<section class="quote">
   <div class="landingHead">
   </div>   
</section>

<section class="mission container-fluid">
    <h2 class="text-uppercase">Our Mission</h2>
    <p>Our goal is to maximize nonprofit organizations visibility, while allowing them to gather donations they need as quickly as possible. We want to eliminate shortage of items in shelters and centers that serve individuals in need, whether that is nonperishable food, clothing, or extra hands for an upcoming event. For our donors, we wanted to create a smooth and convenient way for them to give back and get involved. We eliminate the need for having to research each charity individually and the guessing game of what they may need the most.</p>
</section>

<section class="container-fluid ">
     <h2 class="text-uppercase">How A Giving Hand Works</h2>
    <div class="row">
        <div class="col">
            <img class='make-small' src="imgs/upload.svg" alt="">
        </div>

        <div class="col">
            <p >We offer a simple and efficient way for nonprofit organizations to update what donations they need the most. This eliminates the hassle of having to turn away certain donations that you may already have a sufficient amount of that another organization may be in need of.</p>
        </div>
    </div>

    <div class="row">
    <div class="col mt-2">
        <img class="make-small" src="imgs/donor.svg" alt="">
    </div>
    <div class="col"> 
        <p>Donors are able to directly see an organization needs and can now easily divide their resources to give to the appropriate locations. Donors can view profiles to learn more about each org and contact them to arrange dropoffs or even offer themselves as a volunteer.</p>
    </div>
</div>
</section>

<section>
    <h2 class="text-uppercase">News</h2>
<div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img class=".card-img-top" src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2hhcml0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60" alt="">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, quo eligendi. Earum assumenda excepturi ea natus molestiae fugiat voluptatum tempora architecto, quam ipsum, harum maiores delectus officiis tempore, nulla nam?</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm"><a href='#' target="_blank">View</a></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1579208575657-c595a05383b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium veritatis ipsum voluptate dolores id voluptatum illo architecto quod commodi enim modi expedita, doloribus eaque, doloremque saepe ad quisquam. Blanditiis, nihil.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm"><a href='#' target="_blank">View</a></button>
            
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1591522810850-58128c5fb089?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestias atque, maxime dolorem velit qui cum maiores fugit porro ea in ducimus, assumenda eaque rerum deleniti. Vel laboriosam dolorem eveniet? Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm"><a href='#' target="_blank">View</a></button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
    </section>

       
            <!-- <p class="text-uppercase">Sign up for our newsletter to stay up to date with us</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="you@example.com" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn" type="button" id="button-addon2">Subscribe</button>
          </div> -->
        

        </main>
    

<%- include('partials/footer') -%>
