* {
    box-sizing: border-box;
}



.header-footer-background{
    background-color:#dcaab1;
}
.titleColor{
    color:#a63d4c;
    font-size: 30px;
}

.titleColor:hover{
color:white;
}

.make-small{
    margin:auto;
     display:block; 
    filter: drop-shadow(10px 7px 2px grey);
    
}

.btn{
    background-color: #dcaab1;
}
.btn:hover{
    background-color: #a63d4c;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:#a63d4c;
}
#view{
    color: white;
}


h2{
    color: rgb(146, 50, 74);
    text-align: center;
    padding: 1rem 0;
}


h1{
    color: #e08e97;  
    text-transform: uppercase;
    
}

.backgroundPink{
    background-color: rgba(163, 99, 120, 0.137);
}

.login-signin{
    color: #a63d4c;
}

/* footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  } */